on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop
  workflow_dispatch:

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: 'release'}
          - {os: macOS-latest, r: 'release', exepath: "/Users/runner/work/_temp/Library/whitebox/WBT/whitebox_tools"}
          - {os: ubuntu-latest, r: 'devel', exepath: "/home/runner/work/_temp/Library/whitebox/WBT/whitebox_tools"}
          - {os: ubuntu-latest, r: '3.6'}

    env:
      R_WHITEBOX_EXE_PATH: ${{ matrix.config.exepath }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}

      - uses: r-lib/actions/setup-pandoc@v2
          
      - name: Install system dependencies
        if: runner.os == 'macOS'
        run: |
          brew install pkg-config
          brew install gdal
          
      - name: Install remotes
        run: Rscript -e "install.packages('remotes')"
                 
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      - name: Install WhiteboxTools
        run: Rscript -e "remotes::install_local(force = TRUE)" -e "whitebox::install_whitebox()" 

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true

