on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: test-coverage

jobs:
  test-coverage:
    runs-on: macOS-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_WHITEBOX_EXE_PATH: '/Users/runner/work/_temp/Library/whitebox/WBT/whitebox_tools'
      
    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-r@v2

      - uses: r-lib/actions/setup-pandoc@v2
          
      - name: Install system dependencies
        run: |
          brew install pkg-config
          brew install gdal
          
      - name: Install remotes
        run: Rscript -e "install.packages('remotes')"
                 
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck, any::covr
          needs: check

      - name: Install WhiteboxTools
        run: |
          remotes::install_local(force = TRUE)
          whitebox::install_whitebox()
        shell: Rscript {0}

      - name: Test coverage
        run: |
          covr::codecov()
        shell: Rscript {0}
